body *{
    /*border: 1px solid rgba(83, 126, 155, 0.26);*/

}
body, html {
    display: flex;
    flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
    font-size: 14px;
	font-family: arial,sans-serif;
	color: #222;

}

header {
    display: flex;
    padding: 16px 20px;
    justify-content: right;
    align-items: center;
    align-content: space-between;
}
.header-link {
    margin-left: 20px;
    font-family: Arial, sans-serif;

    font-size: 13px;
    font-size-adjust: none;
    font-kerning: auto;
    font-optical-sizing: auto;

}


#app-logo-svg {
    display: flex;
    height: 24px;
    width: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#google-account{

}
#google-account-div {
    display: flex;

}
#personal-image{
    display: flex;
}
#personal-image-img{
    border-radius: 50%;

}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;

    
}
#search-form{
    display: flex;
    flex-direction: column;
}
#search-button{
    display: flex;
    justify-content: center;

}

#google-offer{
    text-align: center;
    
}

#google-logo{
    display: flex;
    justify-content: center;
    margin-top:14px;

}

#google-logo-img {
    display: block;
    align-items: center;
    width: 267px;
}
#search-bar{
    margin-top: 25px;
    height: 40px;
    width: 600px;
    border-radius: 20px;

}
#search-form{
    display: flex;
    align-items: center;

}
#search-button{
    display: flex;
    width: 270px;
    margin-top: 32px;
    justify-content: space-between;
}
#search-button > input{
    padding: 7px 17px;
}

.qarstb {
	flex-grow: 1;
    flex-shrink: 0;
	box-sizing: border-box;
}

/*    footer              */
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
    /*position: absolute;
    width: 100%;
    bottom: 0;*/
    background-color: rgb(243, 243, 243);

    
}

#country{
    display: block;
    margin: 0;
    /*padding-left: 10px;*/
    padding: 15px 30px;
}

footer >nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}
.footer-link{
    display: block;
    padding: 15px;
}

#ls-link ,#rs-link{
    display:flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:1200px) {
    footer >nav {
     justify-content:space-evenly;
    }
}

.line{
    display: block;
    border-bottom: 1px solid #dadce0;
}